{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<head>
    <title>EstCamp - {% trans "Tickets" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <a href="/et/tickets">🇪🇪 Eesti</a> / <a href="/en/tickets">🇬🇧 English</a>
    <h1>EstCamp - {% trans "Ticket availability" %}</h1>
    <a href="{% url 'home' %}">{% trans "Back to home" %}</a>
    <br/>
    <br/>

    {% for type, count in available_tickets.items %}
        <div>
            <b>
                {% if LANGUAGE_CODE == 'et' %}
                    {{ type.name_et }}
                {% else %}
                    {{ type.name }}
                {% endif %} - {{ type.price }}€
            </b>
            <div>
                {% if LANGUAGE_CODE == 'et' %}
                    {{ type.description_et }}
                {% else %}
                    {{ type.description }}
                {% endif %}
                <p></p>
                {% if count < 1 %}
                    <i>{% trans "Sold out." %}</i>
                {% else %}
                    <i>{% blocktrans %}There are currently {{ count }} tickets available!{% endblocktrans %}</i>
                    <br/>
                    <a href="{% url 'reservation' type_id=type.id %}"><i>{% trans "Reserve now" %}</i></a>
                {% endif %}
            </div>
        </div>
        <br/>
        <br/>
    {% endfor %}
</body>